---
import BasicLayout from '../../layouts/BasicLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const works = (await getCollection('works'));
---

<BasicLayout>
			<section class"flex items-center justify-center">
				<ul>
					{
						works.map((work) => (
							<li>
								<a href={`/works/${work.id}/`}>
									<img width={720} height={360} src={work.data.heroImage} alt="" />
									<h4 class="title">{work.data.title}</h4>
									<p class="date">
										<FormattedDate date={work.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</BasicLayout>