---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
<nav
	class="flex items-center justify-between bg-green-950 font-bold text-white"
>
	<h2><a class="px-2 py-4" href="/">{SITE_TITLE}</a></h2>
	<div
		class="internal-links"
		style="margin-left: auto; display: flex; gap: 1em;"
	>
	</div>
	<HeaderLink
		href="/"
		class="px-2 py-4 border-b-4 border-transparent"
	>
		Accueil
	</HeaderLink>
	<HeaderLink
		href="/works"
		class="px-2 py-4 border-b-4 border-transparent"
	>
		Mon travail
	</HeaderLink>
	<HeaderLink
		href="/about"
		class="px-2 py-4 border-b-4 border-transparent"
	>
		À propos
	</HeaderLink>
</nav>

  <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"> </svg>
</header>

<style>

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
