---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
<nav
	class="w-full flex fixed items-center bg-green-950 font-bold text-white border-b-5"
>
	<h2><a class="px-2 py-4" href="/">{SITE_TITLE}</a></h2>
	<div
		class="ml-auto flex gap-4 "
	>
	</div>
	<HeaderLink
		href="/"
		class="px-2 py-4 border-b-4 border-transparent"
	>
		Accueil
	</HeaderLink>
	<HeaderLink
		href="/works"
		class="px-2 py-4 border-b-4 border-transparent"
	>
		Mon travail
	</HeaderLink>
	<HeaderLink
		href="/about"
		class="px-2 py-4 border-b-4 border-transparent"
	>
		À propos
	</HeaderLink>
</nav>

  <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"> </svg>
</header>

